pandas
scikit-learn
xgboost
numpy
imbalanced-learn
matplotlib
lightgbm
catboost
mlflow
ipykernel
seaborn
bentoml
bentoml[grpc]
pydantic=1.10.7
shap
tensorflow
keras
grpcio-health-checking
opentelemetry-instrumentation-grpc